<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaouguoji.platform.mapper.ShopAccountMapper">
    <resultMap id="shopAccountEntity" type="com.yaouguoji.platform.entity.ShopAccountEntity">
        <result property="shopId" column="ShopId"/>
        <result property="phoneNum" column="PhoneNum"/>
        <result property="addTime" column="AddTime"/>
        <result property="updateTime" column="UpdateTime"/>
    </resultMap>

    <sql id="allFields">
        ShopId,
        PhoneNum,
        AddTime,
        UpdateTime
    </sql>

    <select id="findByShopId" parameterType="map" resultMap="shopAccountEntity">
        SELECT
        <include refid="allFields"/>
        FROM shop_account
        WHERE PhoneNum=#{phoneNum}
    </select>


    <insert id="addShopAccount" parameterType="map">
        INSERT INTO shop_account
        (
            ShopId,
            PhoneNum,
            AddTime,
            UpdateTime
        ) VALUES (
            #{shopAccountEntity.shopId},
            #{shopAccountEntity.phoneNum},
            NOW(),
            NOW()
        )
    </insert>
</mapper>
