<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaouguoji.platform.mapper.UserPriceMapper">
    <resultMap id="userPriceCount"
               type="com.yaouguoji.platform.entity.UserPriceCountEntity">
        <result column="lessAverage" property="lessAverage"/>
        <result column="nearAverage" property="nearAverage"/>
        <result column="overAverage" property="overAverage"/>
    </resultMap>
    <select id="selectUserPriceSplit" resultMap="userPriceCount">
        <![CDATA[



        select
          sum(case when priceCount<#{average}*(1- #{ratio}) then 1 else 0 end) lessAverage,
          sum(case when priceCount>#{average}*(1- #{ratio}) and priceCount<#{average}*(1+ #{ratio})then 1 else 0 end) nearAverage,
          sum(case when priceCount>#{average}*(1+ #{ratio}) then 1 else 0 end) overAverage
        from
          (select UserId,sum(Price) priceCount
           from order_record
           where ShopId=#{shopId} and AddTime between #{startTime} and #{endTime} and OrderStatus='已完成'
           group by UserId)w



        ]]>
    </select>
    <select id="selectUserAverageAndTotalPrice" resultType="java.util.Map">
        select avg (priceCount) averagePrice,sum(priceCount) totalPrice
        from(
            select UserId,sum(Price) priceCount
            from order_record
            where ShopId=#{shopId} and AddTime between #{startTime} and #{endTime} and OrderStatus='已完成'
            group by UserId)w
    </select>
</mapper>