<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaouguoji.platform.mapper.UserConsumptionMapper">
    <resultMap id="OnlineCSP" type="com.yaouguoji.platform.entity.UserConsumptionEntity">
        <result column="OnlineCSP" property="onlineCSP"/>
    </resultMap>

    <resultMap id="OnlineCSP" type="com.yaouguoji.platform.entity.UserConsumptionEntity">
        <result column="OnlineCSP" property="onlineCSP"/>
    </resultMap>

    <select id="queryOnlineCSP" resultMap="OnlineCSP">
        SELECT SUM(Price) OnlineCSP FROM
                order_record WHERE UserId =#{userId} AND OrderChannel LIKE '%上%'
    </select>

    <select id="queryShopCSP" resultMap="OnlineCSP">
        SELECT SUM(Price) OnlineCSP FROM
        order_record WHERE UserId =#{userId} AND OrderChannel NOT IN( '%上%')
    </select>

    <select id="recentYearCSP" resultType="java.math.BigDecimal">
        SELECT SUM(Price) sumMoney FROM order_record WHERE
        YEAR(ADDTIME) = (SELECT DATE_FORMAT(NOW(), '%Y')) AND UserId = #{userId} GROUP BY MONTH(ADDTIME)
    </select>

    <select id="comsumptionProductType" resultMap="" resultType="java.math.BigDecimal">
        SELECT ProductType,SUM(price) SumPrice FROM order_record
         GROUP BY productType ORDER BY SumPrice
    </select>

</mapper>