<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaouguoji.platform.mapper.UserSexAndAgeMapper">
    <resultMap id="ageAndSexSplit" type="com.yaouguoji.platform.entity.UserSexAndAgeEntity">
        <result column="numberOfPeople" property="numberOfPeople"/>
        <result column="Sex" property="sex"/>
        <result column="age" property="age"/>
    </resultMap>
    <select id="selectAgeAndSexSplitEntityMapper" resultMap="ageAndSexSplit">
        select count(userId) numberOfPeople,Sex,age
        from (select distinct user_info.UserId userId,year(now())-year(Birthday) age,Sex
              from order_record,user_info
              where user_info.UserId=order_record.UserId and order_record.AddTime between #{startTime}and #{endTime} and ShopId=#{shopId} AND OrderStatus='已完成') w
        group by Sex,age
    </select>

</mapper>